body {
}

html {
  font-family: "East Sea Dokdo", cursive;
}

.nav_bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff263;
  padding: 8px 12px;
  font-size: 30px;
}

a {
  text-decoration: none;
  color: #f57f17;
}

.logo {
}

.logo a {
  color: black;
}

.menu {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding-left: 0px;
}

.menu li {
  padding: 8px 12px;
}

.login {
  list-style: none;
  display: flex;
  padding-left: 0px;
}

.login_n {
  color: green;
}

.login_k {
  color: rgb(126, 67, 13);
}

.login li {
  padding: 8px 12px;
}
.menu li:hover {
  background-color: pink;
  border-radius: 6px;
}

.nav_togle {
  display: none;
  position: absolute;
  right: 32px;
  font-size: 24px;
  color: black;
}

@media screen and (max-width: 831px) {
  .nav_bar {
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 12px;
  }

  .menu {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .menu li {
    width: 100%;
    text-align: center;
  }

  .login {
    display: none;
    justify-content: center;
    width: 100%;
  }

  .nav_togle {
    display: block;
  }

  .menu.active,
  .login.active {
    display: flex;
  }
}
